footer.footer
	.container
		.footer__wrap
			.footer__content.content-footer
				.content-footer__column
					h4.content-footer__title Laveri
					ul.content-footer__list
						li.content-footer__item
							a.content-footer__link(href="./brand.html") О бренде

						li.content-footer__item
							a.content-footer__link(href="./contacts.html") Контакты

						li.content-footer__item
							a.content-footer__link(href="./agreement.html") Условия использования
					
				.content-footer__column
					h4.content-footer__title Покупателям
					ul.content-footer__list
						li.content-footer__item
							a.content-footer__link(href="./delivery.html") Оплата и доставка

						li.content-footer__item
							a.content-footer__link(href="./faq.html") FAQ

				.content-footer__column
					h4.content-footer__title Категории товаров
					ul.content-footer__list
						li.content-footer__item
							a.content-footer__link.content-footer__link_category(href="./catalog.html") Сумки

				.content-footer__column
					h4.content-footer__title Подписывайтесь
					ul.content-footer__list.content-footer__list_socials
						li.content-footer__item.content-footer__item_social
							a.content-footer__link(href="#")
								+icon("facebook", "content-footer__icon")
						
						li.content-footer__item.content-footer__item_social
							a.content-footer__link(href="#")
								+icon("instagram", "content-footer__icon")

						li.content-footer__item.content-footer__item_social
							a.content-footer__link(href="#")
								+icon("vk", "content-footer__icon")

			.footer__copyright
				span.footer__text © 2020 Laveri