//- include svgSprite mixin
include mixin-icon.pug

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Laveri - accessories and bags brand shop
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equivx="x-ua-compatible")
            link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')