@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    color: initial;
}

input, textarea, button {
    outline: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}