@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.4rem;
    font-family: $font_default;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-out;
    color: $color_dark;
}

a:hover {
    color: $color_blue;
}


a:active {
    color: initial;
}

input, textarea, button, select {
    outline: none;
    font-size: 1.4rem;
    font-family: $font_default;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}