extends common/layout

block content
	section.brand
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title(style="text-transform: uppercase") О бренде
					.head-page__right
						.breadcrumbs
							a.breadcrumbs__link(href="#") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current О бренде
				.page__content
					.page__text Бренд Baneli™ – это современный украинский бренд специализирующийся на изготовлении дизайнерских изделий только ручной работы!
					.page__text Главным модельером нового имени является амбициозный и талантливый украинский дизайнер Дарья Иванюшина. С ее легкой подачи в моделях реализуются самые смелые и неповторимые замыслы, которые на текущий момент не имеют аналогов в мире.
					.page__text Для создания всех своих изделий используются только качественные материалы: натуральная итальянская кожа и замша (а также кожа разных экзотических животных), элегантная и надежная фурнитура. Благодаря этому вы получаете не только стильную вещь, которая подчеркивает вашу индивидуальность, но и гарантию долгого срока её службы.
					.page__text Став обладателем любого нашего изделия и взяв его в руки, Вы несомненно сможете почувствовать ту душу, эмоции и чувства с которыми оно было создано!