extends common/layout

block content
	section.brand
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title О бренде
					.head-page__right
						div.breadcrumbs
							a.breadcrumbs__link(href="#") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current О бренде