extends common/layout

block content
	section.card
		.container
			.card__wrap
				.card__head
					div.breadcrumbs
						a.breadcrumbs__link(href="#") Home
						span.breadcrumbs__tag »
						a.breadcrumbs__link(href="#") Сумки
						span.breadcrumbs__tag -
						span.breadcrumbs__current Страница 2
