extends common/layout

block content
	section.catalog
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title Магазин
						span.head-page__result Показано 13–24 из 40 результатов
					.head-page__right
						select.head-page__sort(name="sort")
							option(value="default" selected) Сортировка по умолчанию
							option(value="popular") По популярности
							option(value="rating") По рейтингу
							option(value="date") По дате
							option(value="price-asc") По цене: от дешевых
							option(value="price-desc") По цене: от дорогих
						.breadcrumbs
							a.breadcrumbs__link(href="./") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current Магазин
				.catalog__options.options-catalog
					.options-catalog__filters
						a.options-catalog__filter.active(href="#") Все
						a.options-catalog__filter(href="#") Сумки
				.catalog__products
					-for(var i = 0; i < 12; i++)
						.product
							a.product__link(href="./card.html")
								.product__images
									.product__image.product__image-front
										img.product__img(src="img/product_01.jpg", alt="Product")
									.product__image.product__image-back
										img.product__img(src="img/product_02.jpg", alt="Product")
							a.product__link(href="./card.html")
								h3.product__title Сумка Bordon синий крокодил
							.product__rate
								span.product__rate-text Not rated
							span.product__price 2500 грн.
							a.product__button(href="./card.html") Подробнее
				.catalog__pagination.pagination-catalog
					ul.pagination-catalog__list
						li.pagination-catalog__item
							a.pagination-catalog__link.active(href="#") 1

						li.pagination-catalog__item
							a.pagination-catalog__link(href="#") 2

						li.pagination-catalog__item
							a.pagination-catalog__link(href="#") 3

						li.pagination-catalog__item
							a.pagination-catalog__link(href="#") →