extends common/layout

block content
	section.contacts
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title Контакты
						span.head-page__descr Контакты / Шоу-рум
					.head-page__right
						.breadcrumbs
							a.breadcrumbs__link(href="#") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current Контакты
				.contacts__content.content-contacts
					.content-contacts__map
					.content-contacts__info
						table.content-contacts__table
							tbody.content-contacts__tbody
								tr.content-contacts__tr
									td.content-contacts__td
										strong Шоу-рум
									td.content-contacts__td Время работы:
								tr.content-contacts__tr
									td.content-contacts__td
									td.content-contacts__td Пн-Пт — с 9.00 до 19.00
								tr.content-contacts__tr
									td.content-contacts__td
									td.content-contacts__td Сб-Вс — выходной
								
								tr.content-contacts__tr
									td.content-contacts__td
										strong Конакты:
									td.content-contacts__td
										a.content-contacts__link(href="#") (090) 410-10-25
									
								tr.content-contacts__tr
									td.content-contacts__td
										strong E-mail:
									td.content-contacts__td
										a.content-contacts__link(href="#") info@baneli.com.ua