extends common/layout

block content
	section.delivery
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title FAQ
					.head-page__right
						.breadcrumbs
							a.breadcrumbs__link(href="./") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current FAQ
				.page__content
					table.page__table
						tbody.page__table
							tr.page__tr
								td.page__td Сроки доставки?
								td.page__td

							tr.page__tr
								td.page__td Как оплатить?
								td.page__td

							tr.page__tr
								td.page__td Сделали заказ. Что дальше?
								td.page__td

							tr.page__tr
								td.page__td Неправильный заказ. Как исправить?
								td.page__td

							tr.page__tr
								td.page__td Стоимость доставки?
								td.page__td
							
							tr.page__tr
								td.page__td Как отследить заказ?
								td.page__td