extends common/layout

block content
	.slider-main
		.container
			.slider-main__list
				.slider-main__item
					img.slider-main__img(src="img/slider/item_01.jpg", alt="Bag")
					a.slider-main__link(href="#") Подробнее
						+icon("arrow-right", "slider-main__icon")
				
				.slider-main__item
					img.slider-main__img(src="img/slider/item_02.jpg", alt="Bag")
					a.slider-main__link(href="#") Подробнее
						+icon("arrow-right", "slider-main__icon")

				.slider-main__item
					img.slider-main__img(src="img/slider/item_03.jpg", alt="Bag")
					a.slider-main__link(href="#") Подробнее
						+icon("arrow-right", "slider-main__icon")

	section.featured-products
		.container
			h2.featured-products__title Featured Products
			.featured-products__list

				-for(var i = 0; i < 6; i++)
					.product
						a.product__link(href="#")
							img.products__img(src="img/products/item__01.jpg", alt="Product")
						a.product__link(href="#")
							h3.product__title Сумка Bordon синий крокодил
						.product__rate
							span.product__rate-text Not rated
						span.product__price 2500 грн.
						a.product__button Подробнее
