extends common/layout

block content
	.slider-main
		.container
			.swiper-container
				.swiper-wrapper
					.slider-main__item.swiper-slide
						img.slider-main__img(src="img/banner_01.jpg", alt="Bag")
						a.slider-main__link(href="#") Подробнее
							+icon("arrow-right", "slider-main__icon")
					
					.slider-main__item.swiper-slide
						img.slider-main__img(src="img/banner_02.jpg", alt="Bag")
						a.slider-main__link(href="#") Подробнее
							+icon("arrow-right", "slider-main__icon")

					.slider-main__item.swiper-slide
						img.slider-main__img(src="img/banner_03.jpg", alt="Bag")
						a.slider-main__link(href="#") Подробнее
							+icon("arrow-right", "slider-main__icon")
				.swiper-pagination
				.swiper-button-prev
				.swiper-button-next

	section.featured-products
		.container
			h2.featured-products__title Featured Products
			.featured-products__list

				-for(var i = 0; i < 5; i++)
					.product
						a.product__link(href="#")
							.product__images
								.product__image.product__image-front
									img.product__img(src="img/product_01.jpg", alt="Product")
								.product__image.product__image-back
									img.product__img(src="img/product_02.jpg", alt="Product")
						a.product__link(href="#")
							h3.product__title Сумка Bordon синий крокодил
						.product__rate
							span.product__rate-text Not rated
						.product__price 2500 грн.
						a.product__button В корзину

append scripts
	script.
		var mySwiper = new Swiper('.swiper-container', {
			loop: true,
			simulateTouch: false,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			}
		});