extends common/layout

block content
	section.contacts
		.container
			.page
				.page__head.head-page
					.head-page__left
						h1.head-page__title Оплата и доставка
					.head-page__right
						div.breadcrumbs
							a.breadcrumbs__link(href="#") Home
							span.breadcrumbs__tag »
							span.breadcrumbs__current Оплата и доставка
				.page__content
					table.page__table
						tbody.page__table
							tr.page__tr
								td.page__td Оплата наличными
								td.page__td Оплата наличными

							tr.page__tr
								td.page__td Оплата картами
								td.page__td Оплата картами

							tr.page__tr
								td.page__td Доставка
								td.page__td Доставка

							tr.page__tr
								td.page__td Стоимость доставки
								td.page__td Стоимость доставки

							tr.page__tr
								td.page__td Срок доставки
								td.page__td Срок доставки